extends ../layout 

block content 

    a(href='/motos/crear') Nueva moto

    table.table
        thead
            tr
                th(escope='col') #
                th(escope='col') #color
                th(escope='col') #modelo
                th(escope='col') #ubicacion
        tbody
            each moto in motos
                tr
                    td(scope='row')=moto.id
                    td=moto.color
                    td=moto.modelo 
                    td=moto.ubicacion
                    td
                        a(href='/motos/'+moto.id+'/actualizar') Editar
                    td 
                        form.inline(method='post' action='motos/'+moto.id+'/eliminar')
                            input(type='hidden' name='id' value=moto.id)
                            button.link-button(type='submit' name='submit_param' value='submit_value' class='btn btn-primary')='Eliminar'